.wrap {width:100%;}
.slide_wrap {width:100%; max-width:700px; position:relative; margin:20px auto; overflow:hidden;}
.slides {width:100%; position:relative;}
.slide {width:100%; position:absolute;}
.w3-bar-item {padding:2px 4px !important; font-size:0.875em; color:#fff;}
